* {
  padding: 0px;
  margin: 0px;
}

body {
  overflow-x: hidden;
}

header {
  background-image: url("./images/IMG_0923.JPG");
  width: 120vw;
  height: 120vh;
  display: flex;

}



.move {
  align-items: center;
  padding: 110px 70px;
  width: 650px;
  height: 300px;
  margin-top: 95px;
}

h3 {
  font-family: "montserrat-medium", sans-serif;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.3rem;
  position: relative;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
}

.glide {
  padding-left: 30px;
  padding-top: 35px;
  font-size: 35px;
  color: #fff;
  font-weight: bolder;
}

.glide > span {
  color: green;
}

.ham_menu{
    width: 400px;
    display: flex;
    justify-content: flex-end;
     padding-left: 30px;
  padding-top: 35px;
}

.men{
    color: #007bff;
    font-size: 18px;
    padding-right: 10px;
}

.burg{
    color: #fff;
    font-size: 24px;
}

.back{
    background-color: #000;
    height: 35px;
    padding: 10px;
    /* padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  padding-bottom: 10px; */
  
  position: fixed;
}


.graph {
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  line-height: 4rem;
}

.second_part {
  display: flex;
  padding-right: 52px;
  padding-top: 90px;
  column-gap: 50px;
}

.second_part button {
  background-color: transparent;
  width: 200px;
  height: 50px;
  border: 2px solid #fff;
  color: #fff;
}

.second_part button > a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}


.awards{
    background-color: #007bff;
    display: grid;
    
    /* margin: 100px; */
}

.awards > div{
    padding: 200px;
}


.first{
    display: grid;
}

.hi{
    justify-content: center;
    width: 100%;
    display: grid;
    padding-bottom: 50px;
   
}
.we{
    padding-top: 0px;
    font-size: 60px;
    font-weight: 600;
    width: 500px;
     border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    /* letter-spacing: 1.0rem; */
    color:#fff;
    justify-content: center;
}

.there{
    display: flex;
    justify-content: center;
    
}


.sit{
    font-size: 26px;
    line-height: 2.2rem;
    width:900px;
}


.compliments{
display: grid;
float: left;
box-sizing: border-box;
grid-template-columns: repeat(4,1fr);
margin-top: -200px;
font-family: "lora-regular", serif;
padding-right: 900px;
width: 94%;

}


.received{
    /* padding: 0px 65px; */
    padding-left: 50px;
    padding-right: 70px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.happy{
     padding-left: 50px;
    padding-right: 70px;
}

.digits{
    color: #fff;
    font-size: 85px;
    font-weight: bolder;
}
.launch{
    height: 250vh;
    display: grid;
}

.everything{
display: grid;
height: 15px;
width: 900px;
justify-content: center;
padding-left: 350px;
/* margin-top: 40px; */
padding-top: 200px;

}

.everything > h3{
    color: #007bff;
    padding-left: 250px;
    padding-bottom: -100px;
    /* padding-top: 500px; */
}

.got{
    font-size: 3.9rem;
    line-height: 1.255;
    width: 100%;
    font-weight: 900;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
}

.branding{
    display: grid;
    margin-top: -450px;
    /* height:auto; */
}

.develop{
  display: grid;
  
}